*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tenali Ramakrishna', sans-serif;
	}

body{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url("../images/diarynew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav{
	width:100%;
	height:15vh;
	background:rgba(0,0,0,0.3);
	
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;

}

nav .logo .img 
{
  margin-top: 2vh;
  margin-left: 5vw;
  position: absolute;
}

nav .logo .text {
  position: relative;
  margin-left: 5vw;
  padding-top: 2vh;
}

  nav .logo .text h1{
    /* margin-top: 5vh; */
    color: #45f3ff;

  }
  
  .logo .text h6{
    color: #ffff;
    margin-left: 1vw;
    margin-top: -4vh;
  }

nav .logo
{
	margin-top: 1vh;
	width: 25%;
	font-size: 25px;
	text-align: center;
	font-weight: 900;
	text-shadow: 2px 1px 5px black;
	
	letter-spacing: 2px;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 1;}
/* .img
{
	z-index: -1;
	position: absolute;
	margin-left: 10vw;
}
.text
{
	position: relative;
	z-index: 1;
	color: rgb(125, 253, 40);
	font-weight: 900;
	text-shadow: 2px 1px 5px black;
	letter-spacing: 2px;
} */

nav .menu{
	width: 55%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	

}

nav .menu a{
	letter-spacing: 5px;
	width:40%;
	font-size: 27px;
	text-decoration:none;
	color: cyan;
	font-weight: 500;
	letter-spacing: 1px;
	transition:all .5s ease;
	
}

nav .menu .entry1
{
	flex-basis: 450px;
}

nav .menu .entry2
{
	flex-basis: 450px;
}

.menu .hoverclass:hover
{
	color: white;
	font-size: 190%
}
.menu .btnone
{
	/* border: 2px solid black; */
	border-radius: 10px;
	margin-right: 2vw;
	text-align: center;
	/* background: rgba(190, 174, 174,0.5);
	font-size: 20px; */
	padding: 3px;
	border-radius: 4px;
	font-weight: 500;
	letter-spacing: 1px;
	color:rgb(77, 255, 187);
}

.btnone:hover, .btnone:active{
	background:rgb(37, 139, 139);
	color: white;
	font-size: 190%
}


  .column {
    display:grid;
    float: left;
    width: 32%;
    margin-bottom: 25px;
    color:white;
  }
  
  .card {
    display:grid;
    margin:0 px;
    
  }
  
  .about-section {
    
    padding: 100px;
	text-align: center;
	background: rgba(45, 54, 80, 0.6);
    /* background-color: #474e5d; */
	color:white;
	font-size: 20px;
	height: 50vh;
  }
  
  .container {
    display:grid;
    padding: 0 2.5px;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color:#474e5d;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .desc{
	  color: white;
	  text-shadow: 2px 1px 5px black;
	  /* background: rgba(0,0,0,0.5); */
  }
  .gallery
  {
	background: rgba(0,0,0,0.5);
	  align-items: center;
	
  }

  footer{
	background:rgba(0,0,0,0.7);
	display: flex;
	flex-direction: column;
	color:rgb(255, 255, 255);
	padding:10px;
	height: 20vh;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
}
