*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
 
  body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("../images/diarynew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  }


  nav{
    width:100%;
    height:15vh;
    background:rgba(0,0,0,0.3);
    color: rgb(64, 231, 72);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  
  }
  
  
  nav .logo
  {
    width: 25%;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 1px 5px black;
    letter-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  nav .menu{
    width: 55%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
  
  }
  
  nav .menu a{
    letter-spacing: 5px;
    width:40%;
    font-size: 20px;
    text-decoration:none;
    color: cyan;
    font-weight: 500;
    letter-spacing: 1px;
    transition:all .5s ease;
    
  }
  
  .menu .hoverclass:hover
  {
    color: white;
    font-size: 130%
  }
  .menu .btnone
  {
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 2vw;
    text-align: center;
    background: rgba(190, 174, 174,0.5);
    font-size: 20px;
    padding: 3px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(77, 255, 187);
  }
  
  .btnone:hover, .btnone:active{
    background:darkslategray;
    color: white;
    font-size: 150%
  }
  

   label{
    color: rgb(62, 255, 245);
    font-size: 20px;
  }
  

.contact h1{

    color: wheat;
    margin-top: 20vh;
    margin-bottom: 30px;
    margin-right: 33vw;
    font-size: 45px;
    font-weight: 700;
	  letter-spacing: 3px;
    text-shadow: 2px 1px 5px black;
    font-family: 'Tenali Ramakrishna', sans-serif;
    text-transform: capitalize;
    
  }

input[type=text], 
select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(110, 216, 248);
    margin-top: 2px;
    margin-bottom: 16px;
    resize: vertical;
    background: transparent;
    outline: none;
    color: white;
    
  }
  
  input[type="submit"]
  {
      border: none;
      padding: 7px 35px;
      cursor: pointer;
      outline: none;
      background: #45f3ff;
      color: black;
      font-size: 18px;
      border-radius: 2px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(78, 76, 76);
  }
  
 ::placeholder
 {
     color: white;
 }
  .contact {
    
    text-align: center;
    border-radius: 2.5px;
    background-color:rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10vh;
    margin-left: 25vw;
  }
  
  
  .column {
   
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    background: rgba(0,0,0,0.3);
  }

  footer{
    background:rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    padding:10px;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  

 
  