*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tenali Ramakrishna', sans-serif;
  }
 
  body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("../images/diarynew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  }


nav{
	width:100%;
	height:15vh;
	background:rgba(0,0,0,0.7);
	color: rgb(64, 231, 72);
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;

}

nav .logo .img 
{
  margin-top: 2vh;
  margin-left: 5vw;
  position: absolute;
}

nav .logo .text {
  position: relative;
  margin-left: 5vw;
  padding-top: 2vh;
}

  nav .logo .text h1{
    /* margin-top: 5vh; */
    color: #45f3ff;

  }
  
  .logo .text h6{
    color: #ffff;
    margin-left: 1vw;
    margin-top: -4vh;
  }

nav .logo
{
	margin-top: 1vh;
	width: 25%;
	font-size: 25px;
	text-align: center;
	font-weight: 900;
	text-shadow: 2px 1px 5px black;
	
	letter-spacing: 2px;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 1;}
/* .img
{
	z-index: -1;
	position: absolute;
	margin-left: 10vw;
}
.text
{
	position: relative;
	z-index: 1;
	color: rgb(125, 253, 40);
	font-weight: 900;
	text-shadow: 2px 1px 5px black;
	letter-spacing: 2px;
} */


nav .menu{
	width: 55%;
	display:flex;
	justify-content: space-around;
	align-items: center;

}

nav .menu a{
	width:40%;
	font-size: 27px;
	text-decoration:none;
	color: cyan;
	font-weight: 500;
	letter-spacing: 1px;
	transition:all .5s ease;
}

.menu .hoverclass:hover
{
	color: white;
	font-size: 190%
}


   label{
    color: rgb(62, 255, 245);
    font-size: 25px;
  }
  

.contact h1{

    color: wheat;
    margin-top: 20vh;
    margin-bottom: 30px;
    margin-right: 33vw;
    font-size: 45px;
    font-weight: 700;
	  letter-spacing: 3px;
    text-shadow: 2px 1px 5px black;
    font-family: 'Tenali Ramakrishna', sans-serif;
    text-transform: capitalize;
    
  }

input[type=text], 
select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(110, 216, 248);
    margin-top: 2px;
    margin-bottom: 16px;
    resize: vertical;
    background: transparent;
    outline: none;
    color: white;
    font-size: 20px;
  }
  
  input[type="submit"]
  {
      border: none;
      padding: 7px 35px;
      cursor: pointer;
      outline: none;
      background: #45f3ff;
      color: black;
      font-size: 18px;
      border-radius: 2px;
  }
  
  input[type=submit]:hover {
    background-color:rgb(71, 255, 117);;
  }
  
 ::placeholder
 {
     color: white;
 }
  .contact {
    
    text-align: center;
    border-radius: 2.5px;
    /* background-color:rgba(0,0,0,0.1); */
    padding: 10px;
    margin-bottom: 10vh;
    margin-left: 25vw;
  }
  
  #country option{
    color: black;
    background: rgba(0,0,0,0.3);
  }
  
  .column {
   
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    background: rgba(0,0,0,0.6);
  }

  footer{
    background:rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    padding:10px;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 20px;
  }
  

 
  