

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
/* body{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("../images/diarynew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
} */

nav{
	width:100%;
	height:15vh;
	background:rgba(0,0,0,0.3);
	color: rgb(64, 231, 72);
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;

}


nav .logo
{
	width: 25%;
	font-size: 25px;
	text-align: center;
	font-weight: 900;
	text-shadow: 2px 1px 5px black;
	letter-spacing: 2px;
}

nav .menu{
	width: 55%;
	display:flex;
	justify-content: space-around;
	align-items: center;

}

nav .menu a{
	width:40%;
	font-size: 20px;
	text-decoration:none;
	color: cyan;
	font-weight: 500;
	letter-spacing: 1px;
	transition:all .5s ease;
}

.menu .hoverclass:hover
{
	color: white;
	font-size: 130%
}
.menu .btnone
{
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 2vw;
	text-align: center;
	background: rgba(190, 174, 174,0.5);
	font-size: 20px;
	padding: 3px;
	border-radius: 4px;
	font-weight: 500;
	letter-spacing: 1px;
	color:rgb(77, 255, 187);
}

.btnone:hover, .btnone:active{
	background:darkslategray;
	color: white;
	font-size: 150%
}


footer{
	background:rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	color:rgb(255, 255, 255);
	padding:10px;
	height: 20vh;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
